# Gradle
.gradle/
build/
out/
classes/
bin/

# Eclipse
*.launch
.settings/
.metadata
.classpath
.project

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# VSCode
.vscode/

# MacOS
.DS_Store

# Minecraft
run/
logs/
crash-reports/

# Files
*.log
*.lock
